footer{
    width: 100%;
    background-color: rgb(8, 8, 8);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 120px;
}
.nav-logo-footer{
    margin-left: -12px;
    width: 100px;
    margin-bottom: 10px;
}
.links{
    display: flex;
    justify-content: center;
}
footer .links a{
    cursor: pointer;
    margin-right: 10px;
    font-size: 18px;
    color: #d6101e;
}
span{
    color: #fff;
    font-size: 15px;
    margin-top: 10px;
}
span a{
    font-size: 15px;
    color: #d6101e;
    text-decoration: none;
}
footer a:hover{
    color: #88070f;
    transition: all 0.3s;
}